
.multicolumn1 {
	-moz-column-count: 1;
	-moz-column-gap: 20px;
	-webkit-column-count: 1;
	-webkit-column-gap: 20px;
	column-count: 1;
	column-gap: 20px;
	/*padding: 20px, 20px, 20px, 20px; */
}

.singlecolumn {
	-moz-column-count: 1;
	-moz-column-gap: 20px;
	-webkit-column-count: 1;
	-webkit-column-gap: 20px;
	column-count: 1;
	column-gap: 20px;
	/*padding: 20px, 20px, 20px, 20px; */
}

.figure {
  float: none;
  margin: 10px 10px 10px 10px;
  width: 0%;
  /*padding: 20px, 20px, 20px, 20px;*/
  text-align: center;
}